<!DOCTYPE html>
<html>
<head>
  <title>Cancancandodynamicacl</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <% if user_signed_in? %>
         Logged in as <strong><%= current_user.email %></strong>, <%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %> | Roles: <%= current_user.roles.map(&:name).join(', ') %>
  <% else %>
    <%= link_to "Sign In", new_user_session_path %>
  <% end %>
  <div style="display: block; float: right">
    <%= link_to "Pages", root_path %> | <%= link_to "Reports", reports_path %> | <%= link_to "Users", users_path %> | <%= link_to "Organizations", organizations_path %>
  </div>
</div>

<hr />

<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<%= yield %>

</body>
</html>
