<!DOCTYPE html>
<html>
<head>
  <title>Cancancandodynamicacl</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <% if user_signed_in? %>
         Logged in as <strong><%= current_user.email %></strong>, <%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %> | Roles: <%= current_user.roles.map(&:name).join(', ') %>
  <% else %>
    <%= link_to "Sign In", new_user_session_path %>
  <% end %>
</div>

<hr />

<%= yield %>

</body>
</html>
